html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0px;
    width: 100%;
}

.u {
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

.bt {
    border-top: 3px solid black;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.f500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.f900 {
    font-weight: 900;
}

.mt100 {
    margin-top: 100px;
}

.ml100 {
    margin-left: 100px;
}

.mr100 {
    margin-right: 100px;
}

.mt50 {
    margin-top: 60px;
}

.mt50 {
    margin-top: 50px;
}

.mr50 {
    margin-right: 50px;
}

.pt100 {
    padding-top: 100px;
}

.pl100 {
    padding-left: 100px;
}

.pr100 {
    padding-right: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb200 {
    padding-bottom: 200px;
}

.pt50 {
    padding-top: 50px;
}

.pr50 {
    padding-right: 50px;
}

.pb50 {
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em
}

ul.menu {
    position: absolute;
    top: 100px;
    color: white;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: auto;
    width: 100%;
}

a.link {
    text-decoration: none;
    color: white;
}

ul.titles {
    position: absolute;
    top: 300px;
    color: white;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 10px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    width: 100%;
}

img.background-img {
    width: 100%;
}

li.desenvolvedor {
    font-size: 66px;
}

li.sistemas {
    font-size: 66px;
}

li.descricao {
    font-size: 20px;
}

li.saiba-mais {
    width: 200px;
    height: 50px;
    border: 3px solid white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg.section1 {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

polygon.section1 {
    fill: #FFFFFF;
}

body.wrapper {
    top: 0px;
    min-height: 100%;
    position: relative;
}

div.quem-sou-eu {
    width: 100%;
    height: 725px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: white;
    line-height: 50px;
    margin: auto;
}

img.perfil-rh,
img.perfil-curriculo {
    width: 450px;
}

h1 {
    font-size: 20px;
    margin: 0px;
}

h2 {
    color: black;
    text-align: center;
    font-weight: normal;
}

span.title-quem {
    font-size: 46px;
    color: black;
}

div.perfil-rh {
    margin: auto;
}

div.bem-vindo {
    margin: auto;
}

span.bem-vindo {
    line-height: 15px;
    color: #707070;
}

div.perfil-curriculo {
    margin: auto;
}

polygon.section2 {
    fill: #EEEEEE;
}

div.conhecimentos {
    margin-top: -7px;
    background-color: #EEEEEE;
    height: 700px;
    margin-bottom: 0px;
}

div.polygon-div {
    position: relative;
}

svg.section4 {
    position: absolute;
    top: 0px;
    width: 100%;
}

div.eventos {
    margin-top: -7px;
    background-color: #EEEEEE;
    height: 1200px;
    position: relative;
    width: 100%;
}

img.background-curriculo {
    width: 100%;
    margin-top: -200px;
}

div.curriculo {
    position: relative;
    width: 100%;
    min-height: 1500px;
}

img.curriculo-img {
    position: absolute;
    top: 350px;
    right: 100px;
    width: 600px;
}

div.button-curriculo {
    position: absolute;
    top: 440px;
    right: 300px;
    width: 200px;
    height: 50px;
    border: 3px solid #235AE2;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #235AE2;
    margin: 0 auto;
    margin-top: 35px;
}

div.grid-faixa-contato {
    height: 150px;
    background-image: linear-gradient(#235AE2, #2B45C9);
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 150px;
    grid-auto-flow: dense;
}

div.text-contatos {
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

div.button-contatos {
    width: 200px;
    height: 50px;
    border: 3px solid #235AE2;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #235AE2;
    margin: 0 auto;
    margin-top: 35px;
}

div.contato {
    width: 100%;
    height: 450px;
    background-color: #235AE2;
    background-image: linear-gradient(#235AE2, #2B45C9);
    position: absolute;
    bottom: 125px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: white;
    line-height: 50px;
}

ul.contato {
    list-style-type: none;
    padding: 0px;
}

ul.mapa {
    list-style-type: none;
}

.top-image {
    position: absolute;
    bottom: 50px;
    right: 80px;
}

footer {
    clear: both;
    position: relative;
    width: 100%;
}

.faixa-footer {
    width: 100%;
    height: 125px;
    background-color: #EEEEEE;
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: center;
    color: #707070;
}

.copyright {
    vertical-align: middle;
}

.bandeira {
    padding-right: 15px;
    width: 30px;
    height: 30px;
}

.box {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.grid-conhecimentos {
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-auto-flow: dense;
}

.grid-eventos {
    grid-template-columns: 1fr 2.5fr 2.5fr 2.5fr 2.5fr 1fr;
    grid-auto-flow: dense;
}

.item {
    height: 200px;
    margin: 5px;
    text-align: center;
}

.item1 {
    height: 135px;
    margin: 5px;
    text-align: center;
}

.item-event {
    height: 380px;
    margin: 5px;
    text-align: center;
}

.img-eventos {
    width: 325px;
}

.item-martech {
    height: 300px;
    grid-column: span 5;
}

.item-specs {
    height: 50px;
    margin: 5px;
    text-align: center;
}

.item-desc {
    height: 30px;
    margin: 5px;
    text-align: center;
}

.item-title {
    height: 75px;
    grid-column: span 7;
}

.item-title-e {
    height: 75px;
    grid-column: span 6;
}

.item-line {
    height: 50px;
    text-align: center;
    grid-column: span 5;
}

.item-line-e {
    height: 50px;
    text-align: center;
    grid-column: span 4;
}